<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <%= form_with(model: @post, local: true) do |f|%>
        <div class="field">
          <%= f.label :title, "タイトル" %><br />
          <%= f.text_field :title %>
        </div>

        <div class="field-center">
          <%= f.label :image, "画像" %><br />
          <%= f.file_field :image, id:"post-image" %>
          <div class="img-post">
            <span id='img'></span>
          </div>
        </div>

        <div class="field">
          <%= f.label :text, "テキスト" %><br />
          <%= f.text_area :text, class: :form__text %>
        </div>

        <div class="actions">
          <%= f.submit "保存する", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>