<main class="main">
  <div class="inner">
    <div class="card__wrapper" >
      <% @posts.each do |post|%>
        <div class="card">
          <%= link_to image_tag(post.image, class: :card__img ), post_path(post.id) %>
          <div class="card__body">
            <%= link_to post.title, post_path(post.id), class: :card__title %>
            <p class="card__summary">
              <%= post.text %>
            </p>
            <div id="post_<%= post.id %>">
              <%= render 'home', post: post %>
            </div>
            <%= link_to (post.user.nickname), user_path(post.user), class: :card__user %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>