<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= @post.title %>
      </p>
      <%= link_to (@post.user.nickname), user_path(@post.user), class: :post__user %>
      <% if user_signed_in? && current_user.id == @post.user.id %>
        <div class="post__manage">
          <%= link_to "編集する",  edit_post_path, class: :post__btn %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, class: :post__btn %>
        </div>
      <% end %>
      <div class="post_image">
        <%= image_tag @post.image, class: :post_img %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__message">
            <%= @post.text %>
          </p>
        </div>
      </div>
      <div class="post__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], local: true) do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <%# // ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <% if @comments %>
                <% @comments.each do |comment| %>
                  <p>
                    <%= comment.text %>
                    <%= link_to "(#{comment.user.nickname})", "/users/#{comment.user_id}", class: :comment_user %>
                  </p>
                <% end %>
              <% end %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
    </div>
  </div>
</main>
