<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= @post.title %>
      </p>
      <%= link_to (@post.user.nickname), "#", class: :post__user %>
      <% if user_signed_in? && current_user.id == @post.user.id %>
        <div class="post__manage">
          <%= link_to "編集する",  edit_post_path, class: :post__btn %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, class: :post__btn %>
        </div>
      <% end %>
      <div class="post_image">
        <%= image_tag @post.image, class: :post_img %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__message">
            <%= @post.text %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
